<div class="col-sm-8 blog-main">
	<h2><%= @blog.title %></h2>
	<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

	<p>
		<%= @blog.topic.title %>
	</p>

	<p><%= @blog.body %></p>

	<!-- comment form to write a comment -->
	<%= render 'comments/comment_form' %>

	<div id="comments" data-blog-id="<%= @blog.id %>">
		<!-- will render to views/comments/_comment.html.erb -->
		<%= render @blog.comments %>
	</div>
</div>

